@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

ul {
  list-style-type: disc; /* Makes sure the dots appear */
  /* list-style-position: inside; */
  padding-left: 20px; /* Adds padding to ensure the list items don't touch the left edge*/
}

li {
  margin-bottom: 5px; /* Optional: adds spacing between list items */
}